@import "tailwindcss";

@theme {
    /* green */
  /* --color-primary: #478484;
  --color-secondary: #60a479;
  --color-featured: #2f847c; */
  /* black */
  --color-primary: #34333c;
  --color-secondary: #42414a;
  --color-highlight: #2c2c2c;
}

@layer base {
    .container {
        padding: 2rem;
        margin: 0 auto;
        /* text-align: center; */
    }
}